@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello world</h1>
    <p>Learn more about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core and Azure by VINU</a>.</p>
    <h3>
        @ViewData["Greeting"]
    </h3>
</div>
